# Testing report

For testing of the program three main approaches were taken. Automated Unittesting to make sure that everything works tehcnically as intended, performance tetsing to get general grasp of the performance of the different parts of program and vigorous manual testing to assess the aesthetic outcome of different parameters. Because guite a bit of randomness is involved in the process multiple passes of the same settings are needed to get a picture of what kind of dungeons they generate. Since the main focus of the program is to generate usable dungeons, aesthetics were chosen over performance when the situation called to choose one or another.

## Testing methods

Unittests were written for all of the classes, exept UI. The tests for logic class concentrate mainly on testing that calling of the other classes work as intended, because the functionality of the algorithms is already tested in the tests written for the respective classes. For other classes the tests aim to test that the 

## More details

Details of tests performed to different algorithms and link to a file with results. Propably also pictures of small maps with different settings, for clarification
Performace test results go here also.
